* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: #111;
    background-color: #111;
}

h2 {
    position: relative;
    font-size: 5em;
    color: #111;
    text-align: center;
    background-image: linear-gradient(90deg, lime, cyan, magenta, yellow);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.02em transparent;
}

h2:hover {
    -webkit-background-clip: none;
    -webkit-text-stroke: none;
}

h2 {
    animation: marquee 1s linear infinite;
}